:root {
  --brand-dark-bg: #0a192f;
  --brand-dark-secondary: #112240;
  --brand-dark-card: #1a2c4e;
  --brand-green: #64ffda;
  --brand-light-text: #ccd6f6;
  --brand-dark-text: #8892b0;
  --brand-white: #e6f1ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--brand-dark-bg);
  color: var(--brand-dark-text);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--brand-dark-bg);
  align-items: center;
  padding: 5px;
}
.header__title {
  color: var(--brand-white);
  font-size: 24px;
  margin-left: 20px;
}
.navbar {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}
.navbar__link {
  color: var(--brand-white);
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--brand-light-text);
}
.navbar__link:hover {
  color: var(--brand-green);
}

.hero {
  max-width: 1140px;
  margin: 0 auto;
}

.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.foto__sergey {
  width: 300px;
  height: 300px;
  margin: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.foto {
  flex: 0;
}

.text-block {
  flex: 1;
}
.titel {
  font-size: 40px;
  text-transform: uppercase;
}
