* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(0, 0, 0);
  color: white;
}
body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  text-align: center;
  margin-top: 20px;
}
h1 {
  font-size: 36px;
  margin-bottom: 5px;
}
.m:hover {
  color: rgb(38, 239, 7);
  cursor: pointer;
  text-shadow: 10px 10px 40px #a9f1b3;
}

figure {
  display: flex;
  margin: 20px 0 50px 50px;
  gap: 20px;
}
figcaption {
  display: none;
}
.profilbild {
  border-radius: 50%;
}
.profilbild:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(38, 239, 7, 0.7);
}
.text_sergey {
  font-size: 14px;
  line-height: 1.2;
  margin: 20px 0 50px 0;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

#interests {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
  line-height: 1.2;
}

#contact {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
  line-height: 1.2;
}

#cv {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
  line-height: 1.2;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 100px;
  border-top: 1px solid rgb(38, 239, 7);
}
